<h1>Tweet一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>みんなのTweet</th>
  </tr>

<% @tweet.each do |tweet| %>
  <tr>
    <td><%= tweet.content %></td>
    <td><%= link_to '詳細を確認する', tweet_path(tweet.id) %></td>
    <td><%= link_to "tweetを編集する", edit_tweet_path(tweet.id) %></td>
    <td><%= link_to "tweetを削除する", tweet_path(tweet.id), method: :delete,data: { confirm: 'tweetを削除します' } %></td>
  </tr>
<% end %>

</table>

<%= link_to 'Tweetする', new_tweet_path %>
